
// STRICTLY PROHIBITED ONY ADMIN CAN USE THIS FILE

/node_modules
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
# *.sln
*.sw?

//PROJECT RUN/START COMMAND.......................................................
// nmp run dev


//USE THIS FOR PUSHING CODE TO GITHUB(client)...............................
//first of all check your present work directory(PWD), then
//git status
//git add . or git add filename
//git commit -m "a meaningful message"
//git push


// USE THIS FOR deployment OF PROJECT....................................... 
// build command : npm run predeploy
//deployment command : npm run deploy