
// STRICTLY PROHIBITED ONY ADMIN CAN USE THIS FILE

/node_modules
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
# *.sln
*.sw?

//PROJECT RUN/START COMMAND.......................................................
// nmp run dev


//USE THIS FOR PUSH THE CODE TO GITHUB OF(client)...............................
1. first of all check your present work directory(PWD), then
2. git status
3. git add . or git add filename
4. git commit -m "a meaningful message"
5. git push

//USE THIS FOR PUSH THE CODE TO GITHUB OF(SERVER)...............................
1. first of all check your present work directory(PWD), then
2. git status
3. git add . or git add filename
4. git commit -m "a meaningful message"
5. git push


// USE THIS FOR DEPLOYEMENT OF PROJECT TO THE GITHUB PAGES....................................... 
1. change the directory to /client
2. build command : npm run predeploy    <---this command will do this automatically-- predeploy: npm run build,
2. deployment command : npm run deploy  <--this command will do this automatically-- deploy": gh-pages -d dist
    